<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 调度任务测试 -->
	<bean id="timeTaskTest" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.gts.base.platform.schedule.TimeTaskTest" />
	</bean>
	
	<!-- 触发器 -->
	<bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<!-- 指向我们的任务 -->
		<property name="jobDetail" ref="timeTaskTest" />
		<!-- 每隔1分钟执行一次 -->
		<property name="cronExpression" value="0/6 * * * * ?" />
	</bean>
	
	<!-- 调度器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 触发器列表 -->
				<ref bean="cronTrigger1" />
			</list>
		</property>
	</bean>
</beans> 